.form__close-btn {
    width: 33px;
    height: 33px;
    cursor: pointer;
    margin-left: auto;
    padding-bottom: 8px;
    z-index: 21;
}

.form__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .form__close-btn{
        width: 20px;
        height: 20px;
    }
  }